In [45]:
ACTIVITY_FILE = 'activity-example.xlsx'

In [46]:
import pandas as pd
activity_data = pd.read_excel(ACTIVITY_FILE)
# activity_data.head()
pricing_data = pd.read_csv('pricing.csv')
# pricing_data.head()

In [47]:
data = pd.merge(activity_data, pricing_data, on='model')
# data.head()

In [48]:
data['n_context_tokens_total_price'] = data['n_context_tokens_total'] * data['context_tokens_pricing']
data['n_generated_tokens_total_price'] = data['n_generated_tokens_total'] * data['generated_tokens_pricing']
data['cost'] = data['n_context_tokens_total_price'] + data['n_generated_tokens_total_price']
# data.head()

In [49]:
data_group_by_apikeys = data.groupby('api_key_name')['cost'].sum().reset_index()
data_group_by_apikeys

  api_key_name      cost
0    ElysiaKey  4.088243
1      fishKey  0.623331